<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>XCBuild</string>
	<key>BuildVersion</key>
	<string>81</string>
	<key>CFBundleShortVersionString</key>
	<string>11.2</string>
	<key>CFBundleVersion</key>
	<string>15509</string>
	<key>ProductBuildVersion</key>
	<string>11B52</string>
	<key>ProjectName</key>
	<string>XCBuild</string>
	<key>SourceVersion</key>
	<string>15509000000000000</string>
</dict>
</plist>
