2020/1010/Testhh1010/Testhh1010/opencv3.4.2.a'
*.xcuserstate
*.xctimeline
2021/1028/CLTSource/CLTSource.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
2021/1028/CLTSource/CLTSource.xcodeproj/xcuserdata/venn.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/1028/TestStingNil/TestStingNil.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/1028/TestStingNil/TestStingNil.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2022/CADisplayLinkTest/CADisplayLinkTest.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2022/TestMutableDictionary/TestMutableDictionary.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/0120/TesLock/TesLock.xcodeproj/project.xcworkspace/xcuserdata/venn.xcuserdatad/UserInterfaceState.xcuserstate
2021/0120/TestBundle/TestBundle.xcodeproj/project.xcworkspace/xcuserdata/venn.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
