2020/1010/Testhh1010/Testhh1010/opencv3.4.2.a'
*.xcuserstate
*.xctimeline
2021/1028/CLTSource/CLTSource.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
2021/1028/CLTSource/CLTSource.xcodeproj/xcuserdata/venn.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/1028/TestStingNil/TestStingNil.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/1028/TestStingNil/TestStingNil.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2022/CADisplayLinkTest/CADisplayLinkTest.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2022/TestMutableDictionary/TestMutableDictionary.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2021/0120/TesLock/TesLock.xcodeproj/project.xcworkspace/xcuserdata/venn.xcuserdatad/UserInterfaceState.xcuserstate
2021/0120/TestBundle/TestBundle.xcodeproj/project.xcworkspace/xcuserdata/venn.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
2022/TestSiriDemo/TestSiriDemo.xcodeproj/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Reverse/Resouce/usbmuxd-1.0.8/python-client/usbmux.pyc
2021/0422/NWUITest/NWUITest.xcworkspace/xcuserdata/augus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
*.xcbkptlist
.DS_Store
2023/TestObjcSome/TestObjcSome.xcodeproj/xcuserdata/venn.xcuserdatad/xcschemes/xcschememanagement.plist
2023/TestObjc/TestObjc.xcodeproj/xcuserdata/venn.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
Reverse/resource/usbmuxd-1.0.8/python-client/usbmux.pyc
2021/0125/MonitoringLagForRunLoop/MonitoringLagForRunLoop.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
2020/1106/WeChatFloat-master/WeChatFloat/.DS_Store
2023/TestHookEncryption/Pods/Pods.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/Pods-TestHookEncryption.xcscheme
2023/TestHookEncryption/Pods/Pods.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/SSZipArchive.xcscheme
2023/TestHookEncryption/Pods/Pods.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
2023/GTFoodPin/GTFoodPin.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
2023/GTFoodPin/GTFoodPin.xcodeproj/project.xcworkspace/contents.xcworkspacedata
2023/GTFoodPin/GTFoodPin.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
2023/GTSwiftUITest/GTSwiftUITest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
2023/GTSwiftUITest/GTSwiftUITest.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
2024/ControlWidgetDemo/ControlWidgetDemo.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
2024/ControlWidgetDemo/ControlWidgetDemo.xcodeproj/xcshareddata/xcschemes
.DS_Store
.DS_Store
.DS_Store
.DS_Store
2024/GTestTODO/GTestTODO.xcodeproj/project.xcworkspace/contents.xcworkspacedata
2024/GTestTODO/GTestTODO.xcodeproj/xcuserdata/augus.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
Doc/.DS_Store
