<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
	</dict>
	<key>appleId</key>
	<string>share_appleid003@163.com</string>
	<key>artistId</key>
	<integer>1600482452</integer>
	<key>artistName</key>
	<string>贵州茅台</string>
	<key>bundleDisplayName</key>
	<string>i茅台</string>
	<key>bundleShortVersionString</key>
	<string>1.2.0</string>
	<key>bundleVersion</key>
	<string>3</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>share_appleid003@163.com</string>
			<key>DSPersonID</key>
			<integer>11466437223</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>11466437223</integer>
		</dict>
		<key>purchaseDate</key>
		<string>2022-03-28T08:40:32Z</string>
	</dict>
	<key>copyright</key>
	<string>© 贵州茅台酒股份有限公司</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>购物</string>
	<key>genreId</key>
	<integer>6024</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1600482450</integer>
	<key>itemName</key>
	<string>i茅台</string>
	<key>kind</key>
	<string>software</string>
	<key>nameTranscriptions</key>
	<dict>
		<key>zh-Hans-CN</key>
		<array>
			<string>i茅台</string>
			<string>i máo tái</string>
		</array>
	</dict>
	<key>playlistName</key>
	<string>贵州茅台</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2022-03-28T08:40:32Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.TRUE_GAMBLING , Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的烟酒或毒品使用或相关内容 and 无限制网页访问</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2022-03-27T07:00:32Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143465</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is3-ssl.mzstatic.com/image/thumb/Purple112/v4/93/05/ea/9305ea9d-af49-1ff2-6d26-387ba548be6a/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
		<integer>13</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.moutai.mall</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>8849055881</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>848597872</integer>
		<integer>849055881</integer>
	</array>
	<key>storeCohort</key>
	<string>10|date=1652859000000&amp;sf=143465</string>
	<key>vendorId</key>
	<integer>123840588</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
