<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/远鉴AI云.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>Co.-Ltd..BioSaferID</string>
		<key>CFBundleShortVersionString</key>
		<string>2.4.4</string>
		<key>CFBundleVersion</key>
		<string>42</string>
		<key>SigningIdentity</key>
		<string>Apple Development: 岩 张 (8HM6EQBAWA)</string>
		<key>Team</key>
		<string>L6A5VFP4PR</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-11-30T07:27:52Z</date>
	<key>Name</key>
	<string>BioSaferID</string>
	<key>SchemeName</key>
	<string>BioSaferID</string>
</dict>
</plist>
