Package: com.gt.test-sign-tweak
Name: test-sign-tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Augus
Author: Augus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
