<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>15.4</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>Dionysus</string>
    <key>DTSDKName</key>
    <string>iphoneos15.4</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>i茅台需要访问相册，以便正常使用扫描照片、上传图片、保存图片等服务</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>为了方便帮您快速找到提货门店，i茅台向您申请定位权限</string>
    <key>CFBundleDisplayName</key>
    <string>i茅台</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>weixin</string>
      <string>weixinULAPI</string>
      <string>uppaysdk</string>
      <string>uppaywallet</string>
      <string>uppayx1</string>
      <string>uppayx2</string>
      <string>uppayx3</string>
      <string>alipays</string>
      <string>iosamap</string>
      <string>baidumap</string>
      <string>qqmap</string>
      <string>kuaihe</string>
      <string>gome</string>
      <string>jblmall</string>
      <string>secoo</string>
      <string>youpin</string>
      <string>openapp.jdmobile</string>
      <string>tmall</string>
      <string>jiuxian</string>
      <string>yanxuan</string>
      <string>yesmywine</string>
      <string>suning</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>为了方便帮您快速找到提货门店，i茅台向您申请定位权限</string>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array/>
    <key>DTSDKBuild</key>
    <string>19E239</string>
    <key>NSCameraUsageDescription</key>
    <string>为确保您能使用实人认证服务，i茅台向您申请摄像头权限</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>为了方便帮您快速找到提货门店，i茅台向您申请定位权限</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21E258</string>
    <key>DTPlatformBuild</key>
    <string>19E239</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>13E500a</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleIdentifier</key>
    <string>com.moutai.mall</string>
    <key>DTXcode</key>
    <string>1331</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>Dionysus</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>UISupportedInterfaceOrientations~iphone</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.moutai.mall</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>moutaiapp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx7effbd9dd5ac1e46</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>alipay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mtpay</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>unionpay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mtpay</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxa4c1d57a00040517</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>13F15</string>
  </dict>
</plist>
